api = "0.7"

[buildpack]
description = "A buildpack for removing source code from an application image."
homepage = "https://github.com/paketo-buildpacks/source-removal"
keywords = ["utilities", "source", "removal"]
id = "paketo-buildpacks/source-removal"
name = "Paketo Buildpack for Source Removal"

[metadata]
include-files = [
    "buildpack.toml",
    "linux/amd64/bin/build",
    "linux/amd64/bin/detect",
    "linux/amd64/bin/run",
    "linux/arm64/bin/build",
    "linux/arm64/bin/detect",
    "linux/arm64/bin/run",
]
pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"

[[stacks]]
id = "*"

[[targets]]
arch = "amd64"
os = "linux"

[[targets]]
arch = "arm64"
os = "linux"
